.h2{
    font-family: poppins ,sans serif;
}

p { line-height: 1.2; color: #080808; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px;text-align: center; }